# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User ignore
*.uvoptx
*.zip
*.axf
*.htm
*.dep
*.alber
MDK-ARM/usb_hid/:
MDK-ARM/.vscode/
!*.map
!*.hex
!*.axf
!*.uvprojx
!*.s

*.htm
*.dep
*.crf
*.zip
*._2i
